*
{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}
html
{
    font-size: 62.5%;
    --background-color: antiquewhite;
    --canvas-color: rgb(152, 217, 128);
}
body
{
    background-color: var(--background-color);
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}
button
{
    border: none;
}
.game-container
{
    display: flex;
    align-items: center;
    justify-content: center;
    flex-wrap: wrap;
    font-size: 3.6rem;
}
canvas
{
    margin-top: 20px;
    padding: 10px;
    border-radius: 8px;
    background-color: var(--canvas-color);
}
.btns
{
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    margin: 20px auto;
    width: 100%;
    position: relative;
    --btnSize: min(10vw, 70px);
}
#up, #down, #left, #right, #pause
{
    display: flex;
}
#up,
#down
{
    margin-left: 100%;
    margin-right: 100%;
}
#left
{
    margin-right: var(--btnSize);
}
#pause
{
    position: absolute;
    top: var(--btnSize);
}
#up span,
#down span,
#right span,
#left span,
#pause span
{
    background-image: url('https://cdn-icons-png.flaticon.com/512/4655/4655143.png');
    background-repeat: no-repeat;
    background-position: center;
    background-size: contain;
    width: var(--btnSize);
    height: var(--btnSize);
    background-color: var(--background-color);
}
#down span
{
    background-image: url('https://cdn-icons-png.flaticon.com/512/4655/4655094.png');
}
#right span
{
    background-image: url('https://cdn-icons-png.flaticon.com/512/4655/4655096.png');
}
#left span
{
    background-image: url('https://cdn-icons-png.flaticon.com/512/4655/4655000.png');
}

#pause span
{
    background-image: url('https://cdn-icons-png.flaticon.com/512/1214/1214679.png');
}
.messages
{
    display: flex;
    flex-direction: column;
}
.messages p
{
    display: block;
    margin: 0;
    width: 100%;
}
#restart
{    
    align-self: center;
    font-size: inherit;
    font-family: inherit;
    display: flex;
    padding: 10px 10px;
    margin: 20px 0;
    border-radius: 8px;
    background-color:  var(--canvas-color);
}
#new-record-message,
#end-game-message
{
    display: flex;
    justify-content: center;
}
#restart.inactive
{
    display: none;
}
@media (max-width: 1024px)
{
    .game-container
    {
        font-size: 2.4rem;
    }
}
@media (max-width: 768px)
{
    .game-container
    {
        font-size: 1.8rem;
    }
}